[
    {uac, [
        {issuer_service, <<"test">>},
        {accepted_services, [<<"test">>, <<"test2">>]},
        {authorizers, #{
            jwt => #{
                signee => test,
                keyset => #{
                    test => {pem_file, "var/keys/test/private.pem"}
                }
            }
        }},
        {resource_hierarchy, #{
            test_resource => #{}
        }},
        {opetations, #{
            'SomeTestOperation' => [{[test_resource], write}]
        }}
    ]}
].
